<template>
  <div class="hello">
    <div class="top-image">
      <img src="@/assets/0.jpeg" alt="" />
    </div>
    <div class="tab">
      <div class="list">
        <div
          class="item"
          v-for="(item, index) in tabList"
          :key="index"
          :class="{ active: index == current }"
          @click="handleTab(index)"
        >
          {{ item.name }}
        </div>
      </div>
      <div class="cont">
        <div v-for="(item, index) in tabList" :key="index">
          <div v-for="(v, idx) in item.children" :key="idx">
            <div v-if="current == index">
              <div
                class="bg-image"
                v-bind:style="{
                  'background-image': 'url(' + v.cover + ')',
                  'background-repeat': 'no-repeat',
                  'background-size': 'cover',
                }"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  data() {
    return {
      current: 0,
      tabList: [
        {
          name: "行政组",
          children: [
            {
              cover: require("@/assets/1/1.jpeg"),
            },
            {
              cover: require("@/assets/1/2.jpeg"),
            },
            {
              cover: require("@/assets/1/3.jpeg"),
            },
            {
              cover: require("@/assets/1/4.jpeg"),
            },
            {
              cover: require("@/assets/1/5.jpeg"),
            },
            {
              cover: require("@/assets/1/6.jpeg"),
            }
          ],
        },
        {
          name: "班主任",
          children: [ {
              cover: require("@/assets/2/1.jpeg"),
            },
            {
              cover: require("@/assets/2/2.jpeg"),
            },
            {
              cover: require("@/assets/2/3.jpeg"),
            },
            {
              cover: require("@/assets/2/4.jpeg"),
            },
            {
              cover: require("@/assets/2/5.jpeg"),
            },
            {
              cover: require("@/assets/2/6.jpeg"),
            },
            {
              cover: require("@/assets/2/7.jpeg"),
            },
            {
              cover: require("@/assets/2/8.jpeg"),
            },
            {
              cover: require("@/assets/2/9.jpeg"),
            },],
        },
        {
          name: "配班老师",
          children: [
          {
              cover: require("@/assets/3/1.jpeg"),
            },
            {
              cover: require("@/assets/3/2.jpeg"),
            },
            {
              cover: require("@/assets/3/3.jpeg"),
            },
            {
              cover: require("@/assets/3/4.jpeg"),
            },
            {
              cover: require("@/assets/3/5.jpeg"),
            },
            {
              cover: require("@/assets/3/6.jpeg"),
            },
            {
              cover: require("@/assets/3/7.jpeg"),
            },
            {
              cover: require("@/assets/3/8.jpeg"),
            },
            {
              cover: require("@/assets/3/9.jpeg"),
            },
            {
              cover: require("@/assets/3/10.jpeg"),
            }
          ],
        },
        {
          name: "专职教师",
          children: [
            {
              cover: require("@/assets/4/1.jpeg"),
            },
            {
              cover: require("@/assets/4/2.jpeg"),
            },
          ],
        },
        {
          name: "保育老师",
          children: [
          {
              cover: require("@/assets/5/1.jpeg"),
            },
            {
              cover: require("@/assets/5/2.jpeg"),
            },
            {
              cover: require("@/assets/5/3.jpeg"),
            },
            {
              cover: require("@/assets/5/4.jpeg"),
            },
            {
              cover: require("@/assets/5/5.jpeg"),
            },
            {
              cover: require("@/assets/5/6.jpeg"),
            },
            {
              cover: require("@/assets/5/7.jpeg"),
            },
            {
              cover: require("@/assets/5/8.jpeg"),
            },
            {
              cover: require("@/assets/5/9.jpeg"),
            },
            {
              cover: require("@/assets/5/10.jpeg"),
            },
          ],
        },
        {
          name: "后勤组",
          children: [{
              cover: require("@/assets/6/1.jpeg"),
            },
            {
              cover: require("@/assets/6/2.jpeg"),
            },
            {
              cover: require("@/assets/6/3.jpeg"),
            },
            {
              cover: require("@/assets/6/4.jpeg"),
            },
            {
              cover: require("@/assets/6/5.jpeg"),
            },
            {
              cover: require("@/assets/6/6.jpeg"),
            },
            {
              cover: require("@/assets/6/7.jpeg"),
            },],
        },
      ],
    };
  },
  created(){
    document.title = this.tabList[this.current].name
  },
  methods: {
    handleTab(index) {
      this.current = index;
      document.title = this.tabList[index].name
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
.top-image {
  height: 160px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(http://qiniu.138v.com/images/53/2022/11/KJwMqduDmVmNWcQMfOwX6Mu6ycoYdw.jpg);
  background-position: left top;
  padding: 0px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(51, 51, 51);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.top-image img {
  width: 100%;

  height: 100%;
}
.tab {
  .list {
    color: white;
    font-family: Arail;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: rgb(249, 192, 59);
    background-position: left top;
    display: flex;
    width: 100%;
    align-items: center;
    .item {
      height: 57px;
      flex: 1;
      text-align: center;
      line-height: 57px;
      &.active {
        height: 57px;
        background-color: rgb(211, 148, 0);
      }
    }
  }
}
.bg-image {
  height: 200px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
  padding: 0px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(51, 51, 51);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
</style>
